.team-member {
  display: inline-block;
  max-width: 80%;
  margin: 0 auto;
  text-decoration: none;

  &:hover {
    opacity: .7;
    transition: 300ms opacity;
  }

  img {
    max-width: 100%;
    border-radius: .25rem;
  }

  .head-h6 {
    color: $dark-bg;
    text-decoration: none;

    span {
      display: block;
      margin-top: .5rem;
      font-weight: 400;
      font-size: 1rem;
    }
  }
}

.owl-carousel {
  @media (max-width: 991px) {
    max-width: 80%;
    margin: 0 auto;
  }
}

.owl-prev, .owl-next {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 40%;
  display: block !important;
  border: 1px solid #666 !important;
  border-radius: 50%;

  span {
    position: relative;
    top: -6px;
    right: -1px;
    font-size: 25px;
  }
}

.owl-next {
  right: -2rem;
}

.owl-prev {
  left: -2rem;
}
