
@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}

.carousel-inner {
  max-width: 80%;
  margin: 0 auto;
}

.team-member {
  max-width: 80%;
  margin:0 auto;

  img {
    max-width: 100%;
  }
}

.carousel-control-prev,
.carousel-control-next {
}

.arrow {
  width: 2rem;
  height: 2rem;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 1.25rem;
  transform: rotate(45deg);
  border: 1px solid #666;
  border-radius: 50%;

  &.arrow-prev {
    transform: rotate(-135deg);

    &::before {
      transform: translate(-10px, -5px);
    }
  }

  &::before {
    content: '';
    position: relative;
    transform: translate(-10px, -5px);
    width: 1rem;
    height: 1rem;
    border-width: 2px 2px 0 0;
    border-style: solid;
    border-color: #999;
    transition: .2s ease;
    display: block;
    transform-origin: 100% 0;
  }

  &:hover::before {
    border-color: #333;
  }
}
