.main-baner {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;

  &:before {
    content: '';
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.6);
    z-index: -1;
  }
}

.main-baner-content {
  color: #fff;

  .head-h4 {
    margin-bottom: 4rem;
  }
}

.main-baner-video {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  z-index: -2;
}

.main-baner-content {
  text-align: center;
}

.about-us {
  padding: 10rem 0 3rem;
}

.about-us-pic {
  position: relative;
  border-radius: .5rem;
  z-index: 1;
  max-width: 90%;

  &.about-us-pic-sec {
    top: -6rem;
    left: 10rem;
    z-index: 0;

    @media (max-width:991px) {
      display: none;
    }
  }

  @media (max-width:991px) {
    display: block;
    position: initial;
    margin: 2rem auto 0;
  }
}

.about-us-content {
  @media (min-width:991px) {
    padding-right: 4rem;
  }
}

.our-services {
  .head-h3 {
    margin-bottom: 3rem;
  }
}

.services-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 4%;
  row-gap: 2rem;
  margin-bottom: 10rem;
}

.service-box {
  display: block;
  position: relative;
  height: 10rem;
  flex-basis: 22%;
  border-radius: .25rem;
  background-position: center;
  background-size: cover;
  overflow: hidden;

  .service-box-head {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: .5rem;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    background-color: rgba(0,0,0,.5);
    transition: 300ms all;
  }

  &:hover {
    .service-box-head {
      text-decoration: none;
      padding: .75rem .5rem;
      background-color: rgba(0,0,0,.7);
    }
  }

  &.service-box-1 {
    background-image: url('../img/service-1.jpg');
  }
}

.mid-baner {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 17.5rem;
  background-image: url('../img/baner-back.jpg');
  background-attachment: fixed;
  background-size: cover;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
  }

  .mid-baner-head {
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 4rem;
    font-family: 'Playfair Display', serif;
    z-index: 1;
  }
}

.our-team {
  position: relative;
  padding: 10rem 0;

  &:before,
  &:after {
    content: '';
    position: absolute;
    background-image: url('../img/leafs.png');
    width: 30rem;
    height: 30rem;
    background-size: contain;
    z-index: -1;
  }

  &:after {
    top: -5rem;
    right: -5rem;
  }

  &:before {
    left: -5rem;
    bottom: -5rem;
    transform: rotate(.5turn);
  }

  .head-h3 {
    margin-bottom: 4rem;
  }

  .head-h6 {
    margin-top: 1rem;
  }
}


.contact-foot {
  position: relative;

  .contact-info {
    display: flex;
    text-align: left;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 4rem;

    *{
      width: 100%;
    }

    .main-btn {
      width: auto;
    }
  }
}

.footer {
  padding-top: 7rem;
  background-color: $dark-bg;
  color: #fff;
}

.footer-copy {
  margin: 2rem 0 4rem;
  color: #999;
  font-size: .875rem;
  line-height: 1.5rem;

  a{
    color: #999;
    text-decoration: none;

    &:hover {
      color: #666;
    }
  }
}

.footer-list {
  list-style: none;
  padding: 0;

  li {
    font-size: .875rem;
    color: #fff;
  }
}
