.main-baner {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;

  &:before {
    content: '';
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.4);
    z-index: -1;
  }
}

.main-baner-content {
  text-align: center;
}

.about-us {
  padding: 10rem 0;
}

.about-us-pic {
  position: relative;
  border-radius: .5rem;
  z-index: 1;

  &.about-us-pic-sec {
    top: -6rem;
    left: 10rem;
    z-index: 0;
  }
}

.services-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 4%;
  row-gap: 2rem;
  margin-bottom: 10rem;
}

.service-box {
  display: block;
  position: relative;
  height: 10rem;
  flex-basis: 22%;
  border-radius: .25rem;
  background-position: center;
  background-size: cover;
  overflow: hidden;

  .service-box-head {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: .5rem;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    background-color: rgba(0,0,0,.5);
    transition: 300ms all;
  }

  &:hover {
    .service-box-head {
      text-decoration: none;
      padding: .75rem .5rem;
      background-color: rgba(0,0,0,.7);
    }
  }

  &.service-box-1 {
    background-image: url('../img/service-1.jpg');
  }
}

.mid-baner {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 17.5rem;
  margin-bottom: 5rem;
  background-image: url('../img/baner-back.jpg');
  background-attachment: fixed;
  background-size: cover;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
  }

  .mid-baner-head {
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 4rem;
    font-family: 'Playfair Display', serif;
    z-index: 1;
  }
}
