$dark-bg: #000000;
$light-bg: #F3F7F8;
$main-color: #D2B277;

body {
  font-size: 16px;
  background-color: $light-bg !important;
  font-family: 'Lato', sans-serif !important;
}

.head-h1 {
  font-size: 5rem;
  margin-bottom: 1.5rem;
  font-family: 'Playfair Display', serif;
}

.head-h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

.head-h5 {
  font-size: 1.375rem;
  font-family: 'Playfair Display', serif;
  margin-bottom: 1rem;
}

.para {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.main-btn {
  padding: 1rem 1.5rem;
  color: #fff;
  text-transform: uppercase;
  border-radius: .25rem;
  text-decoration: none;
  background-color: $main-color;
}

.trap-back {
  position: relative;

  &:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    clip-path: polygon(0 8%, 100% 67%, 100% 77%, 0 56%);
    z-index: -1;
    background-color: $main-color;
    opacity: .2;
  }

  &.trap-back-reverse {
    &:after {
      transform: scale(-1, 1);
      background-color: rgba(0,0,0,.1);
    }
  }
}
