.navigation {
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  background-color: $dark-bg;

  .container {
    position: relative;
  }

  .nav-link {
    font-size: .9375rem;
    text-transform: uppercase;
  }
}

.language-btn {
  position: absolute;
  top: 100%;
  right: 0;
  height: 1.5625rem;
  width: 5rem;
  color: #fff;
  font-size: .625rem;
  background-color: $dark-bg;
}

.holi-logo {
  width: 5.6875rem;
}

.main-baner{
  height: 100vh;
  width: 100%
}