body {
  font-size: 16px;
  background-color: #F3F7F8 !important;
  font-family: "Source Sans Pro", sans-serif !important;
}

.head-h1 {
  font-size: 5rem;
  margin-bottom: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .head-h1 {
    font-size: 2rem;
  }
}

.head-h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 600;
}

.head-h4 {
  font-size: 1.75rem;
}

.head-h5 {
  font-size: 1.375rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.head-h6 {
  font-size: 1.25rem;
  font-weight: 600;
}

.para {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.main-btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0.25rem;
  text-decoration: none;
  background-color: #D2B277;
  transition: 300ms background;
}
.main-btn:hover {
  color: #fff;
  text-decoration: none;
  background-color: #9c8458;
}

.trap-back {
  position: relative;
}
.trap-back:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  clip-path: polygon(0 8%, 100% 67%, 100% 77%, 0 56%);
  z-index: -1;
  background-color: #D2B277;
  opacity: 0.2;
}
.trap-back.trap-back-reverse:after {
  transform: scale(-1, 1);
  background-color: rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .animate,
.animate-earlier {
    transition: 800ms all;
    top: 60px;
    position: relative;
    opacity: 0;
  }
  .animate.moveIn,
.animate-earlier.moveIn {
    top: 0;
    opacity: 1;
  }
}

.navigation {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 1rem 0;
  background-color: #000000;
  z-index: 2;
}
.navigation .container {
  position: relative;
}
.navigation .nav-link {
  margin-left: 0.5rem;
  font-size: 0.9375rem;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .navigation-wrapp {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .main-menu-links {
    display: block !important;
    margin-left: auto;
  }
}

@media (max-width: 768px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.nav-link {
  color: #fff;
  padding: 0.75rem 1rem;
  font-weight: 300;
}
.nav-link:hover {
  color: #999;
}

.language-btn {
  position: absolute;
  top: calc(100% + 0.75rem);
  right: 0.5rem;
  line-height: 1.75rem;
  width: 5rem;
  color: #fff;
  font-size: 0.625rem;
  background-color: #000000;
  text-align: center;
  text-decoration: none;
  transition: 300ms all;
}
.language-btn:hover {
  top: calc(100% + 1rem);
  text-decoration: none;
  color: #aaa;
}

.holi-logo {
  width: 5.6875rem;
}

.menu-togler {
  display: none;
  margin-left: auto;
}
@media (max-width: 768px) {
  .menu-togler {
    display: inline-block;
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
  }
}

.main-baner {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.main-baner:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
.main-baner.sub {
  justify-content: center;
  flex-direction: column;
  height: 12rem;
  margin-top: 78px;
  background-image: url("../img/baner-back.jpg");
  background-attachment: fixed;
  background-size: cover;
}
.main-baner.sub:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.main-baner.sub .head-h1 {
  position: relative;
  text-align: left;
  color: #fff;
  font-size: 3rem;
  font-weight: 300;
  z-index: 1;
}

.main-baner-content {
  color: #fff;
}
.main-baner-content .head-h4 {
  margin-bottom: 4rem;
  font-weight: 300;
}

.main-baner-video {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  top: -10%;
  height: 120%;
  z-index: -2;
}

.main-baner-content {
  text-align: center;
}
@media (max-width: 991px) {
  .main-baner-content {
    padding: 0 1.5rem;
  }
}

.about-us {
  padding: 10rem 0 0rem;
}

.about-us-pic {
  position: relative;
  border-radius: 0.5rem;
  z-index: 1;
  max-width: 100%;
  margin-top: 4rem;
}
@media (max-width: 991px) {
  .about-us-pic {
    display: block;
    position: initial;
    margin: 2rem auto 0;
  }
}

@media (min-width: 991px) {
  .about-us-content {
    padding-right: 4rem;
  }
}

.about-sub-wrapp {
  display: flex;
  text-align: left;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 4rem;
}
@media (max-width: 991px) {
  .about-sub-wrapp {
    padding-left: 1rem;
  }
}

.sub-back-link {
  padding-top: 2rem;
}
.sub-back-link a {
  font-size: 0.875rem;
  color: #999;
  text-decoration: none;
}
.sub-back-link a:hover {
  text-decoration: none;
  color: #333;
}

.sub-content {
  padding: 2rem 0 4rem;
}

@media (max-width: 991px) {
  .sub-pic {
    margin-bottom: 2rem;
  }
}

.our-services {
  padding-top: 6rem;
}
.our-services .head-h3 {
  margin-bottom: 3rem;
}

.services-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 4%;
  row-gap: 2rem;
  margin-bottom: 10rem;
}

.service-box {
  display: block;
  position: relative;
  height: 10rem;
  flex-basis: 22%;
  border-radius: 0.25rem;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
@media (max-width: 991px) {
  .service-box {
    flex-basis: 48%;
  }
}
.service-box .service-box-head {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 300ms all;
}
.service-box:hover .service-box-head {
  text-decoration: none;
  padding: 0.75rem 0.5rem;
  background-color: rgba(0, 0, 0, 0.7);
}
.service-box.service-box-1 {
  background-image: url("../img/manual_therapy.jpg");
}
.service-box.service-box-2 {
  background-image: url("../img/IMG_0907.jpg");
}
.service-box.service-box-3 {
  background-image: url("../img/physio.jpeg");
}
.service-box.service-box-4 {
  background-image: url("../img/service-4.jpeg");
}
.service-box.service-box-5 {
  background-image: url("../img/service-5.jpeg");
}
.service-box.service-box-6 {
  background-image: url("../img/service-6.jpg");
}
.service-box.service-box-7 {
  background-image: url("../img/craniosacral.jpg");
}
.service-box.service-box-8 {
  background-image: url("../img/chiropractic.jpg");
}
.service-box.service-box-9 {
  background-image: url("../img/osteopathy.jpg");
}
.service-box.service-box-10 {
  background-image: url("../img/service-10.jpg");
}

.mid-baner {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 17.5rem;
  background-image: url("../img/baner-back.jpg");
  background-attachment: fixed;
  background-size: cover;
}
.mid-baner:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.mid-baner .mid-baner-head {
  position: relative;
  text-align: center;
  color: #fff;
  font-size: 4rem;
  font-weight: 300;
  z-index: 1;
}
@media (max-width: 991px) {
  .mid-baner .mid-baner-head {
    font-size: 2rem;
  }
}

.our-team {
  position: relative;
  padding: 10rem 0;
  overflow: hidden;
}
.our-team:before, .our-team:after {
  content: "";
  position: absolute;
  background-image: url("../img/leafs.png");
  width: 30rem;
  height: 30rem;
  background-size: contain;
  z-index: -1;
}
.our-team:after {
  top: -5rem;
  right: -5rem;
}
.our-team:before {
  left: -5rem;
  bottom: -5rem;
  transform: rotate(0.5turn);
}
.our-team .head-h3 {
  margin-bottom: 4rem;
}
.our-team .head-h6 {
  margin-top: 1rem;
}
@media (max-width: 991px) {
  .our-team {
    padding: 5rem 0;
  }
}

.footer-logos {
  padding: 2rem 0;
  background-color: #fff;
}
.footer-logos .d-flex {
  justify-content: center;
  align-items: center;
}
.footer-logos img {
  max-width: 9rem;
  width: 100%;
  margin: 0 2rem;
}
.footer-logos img:first-of-type {
  max-width: 5rem;
}

.contact-foot {
  position: relative;
}
@media (max-width: 991px) {
  .contact-foot .d-flex {
    flex-wrap: wrap;
  }
  .contact-foot .d-flex .col-6 {
    width: 100%;
  }
}
.contact-foot .contact-info {
  display: flex;
  text-align: left;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 4rem;
}
.contact-foot .contact-info > * {
  width: 100%;
}
.contact-foot .contact-info .main-btn {
  width: auto;
}
@media (max-width: 991px) {
  .contact-foot .contact-info {
    padding: 2rem 1.5rem;
  }
}

.content-list {
  list-style: none;
  padding-left: 0;
}

.footer {
  padding: 5rem 0;
  background-color: #000000;
  color: #fff;
}

.footer-copy {
  margin: 0;
  color: #999;
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-align: right;
}
.footer-copy a {
  color: #999;
  text-decoration: none;
}
.footer-copy a:hover {
  color: #666;
}

.footer-list {
  list-style: none;
  padding: 0;
}
.footer-list li {
  font-size: 0.875rem;
  color: #fff;
}

.footer-content {
  text-align: center;
}
@media (min-width: 991px) {
  .footer-content {
    text-align: left;
  }
}

.footer-list-social {
  margin-bottom: 3rem;
}
.footer-list-social a {
  display: inline-block;
  width: 2rem;
  max-width: 2rem;
  margin-right: 1rem;
  transition: 300ms all;
  border-radius: 50%;
  background-color: #D2B277;
  padding: 0.5rem;
}
.footer-list-social a img {
  width: 1rem;
  max-width: 1rem;
  height: 1rem;
  display: block;
}
.footer-list-social a:hover {
  opacity: 0.4;
}

.team-member {
  display: inline-block;
  max-width: 80%;
  margin: 0 auto;
  text-decoration: none;
}
.team-member:hover {
  opacity: 0.7;
  transition: 300ms opacity;
}
.team-member img {
  max-width: 100%;
  border-radius: 0.25rem;
}
.team-member .head-h6 {
  color: #000000;
  text-decoration: none;
}
.team-member .head-h6 span {
  display: block;
  margin-top: 0.5rem;
  font-weight: 400;
  font-size: 1rem;
}

@media (max-width: 991px) {
  .owl-carousel {
    max-width: 80%;
    margin: 0 auto;
  }
}

.owl-prev, .owl-next {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 40%;
  display: block !important;
  border: 1px solid #666 !important;
  border-radius: 50%;
}
.owl-prev span, .owl-next span {
  position: relative;
  top: -6px;
  right: -1px;
  font-size: 25px;
}

.owl-next {
  right: -2rem;
}

.owl-prev {
  left: -2rem;
}

/*# sourceMappingURL=style.css.map */
